# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  workflow_dispatch:
  release:
    types: [ created ]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-npm:
    name: Publish to NPM registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Build all sources
        run: |
          yarn install --frozen-lockfile
          yarn build

      - name: Publish to NPM
        run: |
          npm install -g npm@latest
          cd ./dist
          npm publish --tag $(npx esno ../.config/scripts/parse-publish-tag.ts)
